* {
    box-sizing: border-box;
}
body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.container {
    max-width: 1200px;
    margin: auto;
    padding: 10px;
}
a {
    color: #e6a563;
}
a:hover {
    opacity: 0.8;
}
h2 {
    text-align: center;
}
img {
    width: 100%;
}
/**Header**/
header {
    background-color: #efefef;
}
header a {
    text-decoration: none;
    color: #000
}
header a:hover {
    color: #e6a563;
}
header .container {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header .container a:first-child {
    width: 250px;
    margin-right: auto;

}
header ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}
.button {
    background-color: #e6a563;
    border-radius: 10px;
    padding: 5px 10px;
}
.button:hover {
    background-color: #fff;
}
nav li {
    margin: 0 1em;
}
nav li a {
    padding: 20px 0;
} 
.sub-menu {
    flex-direction: column;
    position: absolute;
    background-color: #fff;
    border: 1px solid #efefef;
    padding: 10px 20px 10px 10px;
    border-radius: 20px;
    width: 140px;
    margin-top: 10px;
    gap: 1pc;
    align-items: start;
    display: none;
}
.sub-menu a {
    padding: 0;
}
nav li:hover > .sub-menu {
    display: flex;
}
.navToggler, .navTogglerMenu {
    display: none;
}

@media (max-width: 767px) {
    header nav {
        position: absolute;
        width: 100%;
        top: 90px;
        left: 0;
        font-weight: bold;
    }
    header nav ul {
        flex-direction: column;
        background-color: #efefef;
        align-items: center;
        padding: 0;
        border-top: 1px solid #fff;
        width: 100%;
    }
    header nav li {
        text-align: center;
        border-bottom: 1px solid #fff;
        width: 100%;
        padding: 0;
    }
    nav li a {
        align-items: center;
        display: block;
        width: 100%;
        margin: 0 auto;
    }
    .container li:nth-child(5) {
        background-color: #e6a563;
    }
    nav .button {
        display: block;        
        border-radius: 0;       
        padding: 20px;
        width: 100%;
    }
    .sub-menu {
        display: flex;
        position: relative;
        align-items: center;
        border-radius: 0;
        width: 100%;
        padding: 10px;
        margin: 0 auto;
        border-bottom: 10px solid #efefef;
    }
    .navTogglerMenu {
        display: block;
    }
    .navTogglerMenu img {
        width: 25px;
    }
    .menuClose, nav, .navToggler:checked ~ .navTogglerMenu .menuOpen {
        display: none;
    }
    .navToggler:checked ~ nav, .navToggler:checked ~ .navTogglerMenu .menuClose {
        display: block;
    }
}